body {
    color: brown;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a { 
    color:brown;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.center {
    text-align: center;
}